.franklin-content {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.35em;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 800px) {
  .franklin-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .franklin-content .center iframe{
    width: 480px;
    height: 270px;
  }
}

/* on narrow device, reduce margins */
@media (max-width: 768px) {
  .franklin-content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
